{% extends "base_menu.html" %}
{% block content %}
    {% load static %}
          <img src="{% static 'monkey.jpg' %}" alt="profile" width="200" height="400">
          <p>
          <div>Hey there. I am Patrick, I am 30 years old, and I work as a Software-engineer at Arcadis. My Day job concerns management of the Dutch railroad-system, and maintaining, and improving, the software used for this task. Apart from that, I enjoy doing sports, reading, and playing piano :)
          </div>
          </p>
          <br clear="all">
          <p>
          <div>
              I started this blog mainly as a fun programming exercise for <strong>CS50w (Harvard web-programming course)</strong>. However I thoroughly enjoyed the programming practice, and decided to air the content eventually. I hope that it is entertaining for you.
          </div>
          </p>

{% endblock content %}