{% extends "base_menu.html" %}
{% load static %}
{% block title %}
    {{art.title}}
{% endblock %}

{% block content %}
<div class="row" style="width: 100%;">
<div class="col-xs-12 article"  id="{{art.id}}">
    <h3>{{ art.title }}</h3>
    by: {{ art.author.username }}
    <br/>
    <br/>
    <p style="font-size: small; color: blue;">{{ art.text|safe}}</p>
    <br/>
        <hr>
    <br/>
    {% if user == art.author %}
    <a href="{% url 'arts:update_article' art.id%}"><i class="fa fa-pencil"></i></a>
    <a href="{% url 'arts:delete_article' art.id%}"><i class="fa fa-trash"></i></a>
    {% endif %}
</div>
<div class="w-100"></div>
<div id="personal" class="col-xs-12">
    {% if art.author.profile %}
        <a href="{% url 'profile_page' art.author.id %}">Profile</a> |
        {% if art.author.profile.facebook_url %}
        <a href="art.author.profile.facebook_url">Facebook</a> |
        {% endif %}
        {% if art.author.profile.twitter_url %}
        <a href="art.author.profile.twitter_url">Twitter</a> |
        {% endif %}
        {% if art.author.profile.instagram_url %}
        <a href="art.author.profile.instagram_url">Instagram</a> |
        {% endif %}
    <img src="{% static '{{art.author.profile.picture}}' %}" alt="A pic" class="rounded-circle" width="100" height="100">
    <div>
        <p>{{art.author.profile.bio| safe}}</p>
    </div>
    {% else %}
    <img src="{% static 'images/unknown_user.png' %}" alt="A pic" class="rounded-circle" width="100" height="100">
    {% endif %}
</div>
    </div>
    <form action="{% url 'arts:comment_article' art.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ resp_form.as_p }}
    <input type="submit" value="Post comment">
    </form>
{% for resp in responses %}
<div style="border: solid;
    border-width: 1px;" id="response_{{resp.response.id}}">
        <p>{{resp.response.body}}</p>
            <br>
        <p>by: {{resp.response.author }}</p>
        {% if user == resp.author %}
        <a href="{% url 'arts:update_comment' art.id resp.response.id %}">Edit</a>
        <a href="{% url 'arts:delete_comment' art.id resp.response.id %}">Delete</a>
        {% else %}
        <button class="btn btn-primary" onclick="createCommentForm({{resp.response.id}}, '{% url 'arts:delete_comment' art.id resp.response.id %}')">Comment</button>
        {% endif %}
        {% if resp.commented %}
        <a href="#" onclick="{ fetchResponses({{resp.response.id}}); return false;}"><b>show comments</b></a>
        {% endif %}
    </div>
{% endfor %}

<script>

const responseFactory = function(){
        this.createElement = function(type, body, id, commented){
            var responseElement;

            if (type === "response"){
                responseElement = new CommentResponse();
                responseElement.id = `response_${id}`;
                responseElement.body = body;
                responseElement.commented = commented;

            } else if (type === "form"){
                responseElement = new CommentForm();
                responseElement.id = `${id}`;
                responseElement.body = body;
                responseElement.commented = commented;
            }

            responseElement.create = function(){
                if (this.type === "response"){
                    div = document.createElement("div");
                    div.setAttribute("id", this.id);
                    p_body = document.createElement("p");
                    p_author = document.createElement("p");
                    p_body.textContent = this.body;
                    p_author.textContent = "by: " + "Jesus";
                    button = document.createElement("button");
                    button.setAttribute("class", "btn btn-primary");
                    button_text = document.createTextNode("Comment");
                    button.appendChild(button_text);
                    button.setAttribute("onclick", `createCommentForm(${id})`);

                    // add new button to remove via remove(this) and subsequent implementation

                    div.appendChild(p_body);
                    div.appendChild(document.createElement("br"))
                    div.appendChild(p_author);

                    div.appendChild(button);
                    if (this.commented === true){
                        b = document.createElement("b");
                        a = document.createElement("a");
                        a.setAttribute("href", "#");
                        a.setAttribute("onclick",`{fetchResponses(${id}); return false;}`)
                        a_text = document.createTextNode("Show comments");
                        a.appendChild(a_text);
                        b.appendChild(a)
                        div.appendChild(b);
                    }
                    div.style.border = "solid";
                    div.style.borderWidth = "1px";
                    return div;
                } else if (this.type === "form"){
                    console.log("I am formed!");
                    const commentForm = document.createElement("form");
                    commentForm.setAttribute("method","post");
                    commentForm.setAttribute("action","");
                    commentForm.setAttribute("id", `response_form_${id}`)

                    textArea = document.createElement("textarea");
                    textArea.setAttribute("placeholder","Type your comment!");

                    submit = document.createElement("input");
                    submit.setAttribute("type","button");
                    submit.setAttribute("value","Send");

                    commentForm.appendChild(textArea);
                    commentForm.appendChild(submit);
                    submit.setAttribute("onclick", `sendComment(${this.id});return false;`);
                    return commentForm;
                }
            }
            return responseElement.create()
        }
    }

    const CommentResponse = function () {
        this.type = "response";
    };

    const CommentForm = function(){
        this.type = "form";
    }

    function getCSRFToken(){
        let cookies = document.cookie.split(";")
                .map(c => c.trim())
                .filter(c => c.startsWith("csrftoken="));
            let csrf_token = decodeURIComponent(cookies[0].split("=")[1])
            return csrf_token;
    }

    function createHeaders(){
        return {
            'Content-Type' :'application/json; charset=UTF-8',
            'X-CSRFToken' : getCSRFToken()
        }
    }

    function sendComment(id){

        let form = document.getElementById(`response_form_${id}`);

        const headers = createHeaders();

        fetch(`http://127.0.0.1:8000/articles/article/response_to_response/${id}`, {
            method: "POST",
            headers: headers,
            body: JSON.stringify({
                'content': form.children[0].value
            })
            }).then( r => {
                console.log("Response is: " + r);
                return r.json();
            })
            .then(
                r => console.log(r.post)
            )
            .catch(error => {
                console.log(error);
            });

            form.remove()
    }

    function createCommentForm(id, url){
        let doesFormExist = !!document.getElementById(`response_form_${id}`);

        if (doesFormExist){
            return;
        }

        let current_response = document.getElementById(`response_${id}`);
        commentForm = new responseFactory().createElement("form", undefined, id, undefined);
        current_response.appendChild(commentForm);
    }

    function fetchResponses(id, url){
        console.log("click");
        let current_response = document.getElementById(`response_${id}`);
        let cid = 3
        //let response_url = "{% url 'arts:all_responses_to_response' 111 %}";
        new_url= createResponseUrl(id);
        console.log(new_url);

        fetch(new_url, {
            method : "GET"
        }).then(r => r.json())
        .then(json => json.forEach(j => {
                console.log(j);
                div = new responseFactory().createElement("response", j.body, j.id, j.commented);
                console.log(div);
                current_response.appendChild(div);
                }
             ))
        .catch(error => console.log(error));
    }

    const createResponseUrl = function(id){
        let templateUrl = "{% url 'arts:all_responses_to_response' 111 %}";
        return templateUrl.replace('111',id);
    }

    const createDeleteUrl = function(resp_id){
        let article = document.getElementsByClassName("article")[0];
        console.log("Id of article is: " + article.id);
    }



</script>

{% endblock %}