{% extends "base_menu.html" %}
{% load static %}
{% block title %}
    {{art.title}}
{% endblock %}

{% block content %}
<div class="row" style="width: 100%;">
<div class="col-xs-12">
    <h3>{{ art.title }}</h3>
    by: {{ art.author.username }}
    <br/>
    <br/>
    <p style="font-size: small; color: blue;">{{ art.text|safe}}</p>
    <br/>
        <hr>
    <br/>
    {% if user == art.author %}
    <a href="{% url 'arts:update_article' art.id%}"><i class="fa fa-pencil"></i></a>
    <a href="{% url 'arts:delete_article' art.id%}"><i class="fa fa-trash"></i></a>
    {% endif %}
</div>
<div class="w-100"></div>
<div id="personal" class="col-xs-12">
    {% if art.author.profile %}
        <a href="{% url 'profile_page' art.author.id %}">Profile</a> |
        {% if art.author.profile.facebook_url %}
        <a href="art.author.profile.facebook_url">Facebook</a> |
        {% endif %}
        {% if art.author.profile.twitter_url %}
        <a href="art.author.profile.twitter_url">Twitter</a> |
        {% endif %}
        {% if art.author.profile.instagram_url %}
        <a href="art.author.profile.instagram_url">Instagram</a> |
        {% endif %}
    <img src="{% static '{{art.author.profile.picture}}' %}" alt="A pic" class="rounded-circle" width="100" height="100">
    <div>
        <p>{{art.author.profile.bio| safe}}</p>
    </div>
    {% else %}
    <img src="{% static 'images/unknown_user.png' %}" alt="A pic" class="rounded-circle" width="100" height="100">
    {% endif %}
</div>
    </div>
    <form action="{% url 'arts:comment_article' art.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ resp_form.as_p }}
    <input type="submit" value="Post comment">
    </form>
{% for resp in responses %}
<p><div style="border: solid;
    border-width: 1px;
    height: 20px;">{{resp.body}}</div>
    <br>
    by: {{resp.author }}
    </p>
    {% if user == resp.author %}
        <a href="{% url 'arts:update_comment' art.id resp.id %}">Edit</a>
        <a href="{% url 'arts:delete_comment' art.id resp.id %}">Delete</a>
    {% endif %}
{% endfor %}
{% endblock %}