{% extends "base_bootstrap.html" %}
{% block title %}
Kermeline...
{% endblock %}
{% block navbar_and_content %}
{% load app_tags %}
<nav class="navbar navbar-default navbar-inverse mw-100" style="z-index: 999;">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav mr-auto">
        <li {% if request.get_full_path == ads %}class="active nav-item"{% endif %}>
          <a href="{% url 'about' %}">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a href="{% url 'arts:categories' %}">Categories</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'arts:languages' %}">Languages</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Profile
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.profile.id %}
                <a class="dropdown-item" href="{% url 'edit_user' %}">Edit Settings</a>
                <a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a>
                <a class="dropdown-item" href="{% url 'profile_page' user.profile.id%}">Show Profile Page</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'create_profile' %}">Create Profile</a>
                {% endif %}
            </div>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
        <a href="{% url 'arts:create_article' %}">Create Article</a>
        </li>
        <li class="nav-item">
            <div>
              <form action="{% url 'arts:all' %}" method = "get">

                    <input type="text" placeholder="search..." name="search" style="float: left" class="form-control">
                    <input type="submit"
                           class="btn btn-success float-right"
                           value="Browse" style="float: left">
                      <i class="fa fa-search"></i>
                      <a href="{% url 'arts:all' %}"><i class="fa fa-undo"></i></a>
              </form>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <img style="width: 25px;" src="{{ user|gravatar:60 }}"/><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'logout' %}?next=#">Logout</a></li>
                <li><a href="{% url 'edit_user' %}">Edit Profile</a></li>
                <li><a href="#">Learn more</a></li>
            </ul>
        </li>
            {% else %}
            <li>
            <a href="{% url 'login' %}?next=#">Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}?next={% url 'login' %}">Register</a>
            </li>
            {% endif %}
    </ul>
  </div>
</nav>
</div>
<div class="wrapper" style="width: 100%; display: flex; float: left;">
    <nav id="sidebar" class="navbar-nav navbar-right nav" style="height: 100vh; background: #24252B; color: #fff; width: 150px; left: 100; position: fixed;">
        <div id="left_navbar_div">
            <ul class="nav navbar-nav" id="left_bar">
              <li {% if request.get_full_path == ads %}class="active"{% endif %}>
                  <a href="#">Shizzm</a></li>
                <li {% if request.get_full_path == ads and user.is_superuser %}class="active"{% endif %}>
                    {% if user.is_superuser %}
                  <a href="{% url 'create_user' %}">User</a></li>
                    {% endif %}
            </ul>
        </div>
    </nav>
</div>
<div id="content" class="container" style="flex-direction: column;" >
    {% block content %} {% endblock %}
</div>

{% endblock %}