.wrapper{
    width: 100%;
    display: flex;
    float: left;
}

#sidebar{
    height: 100vh;
    background: #7386D5;
    color: #fff;
    width: 150px;
    top: 0;
    left: 100;
    position: fixed;
    z-index: 10;
}

#left_navbar_div {
    position: relative;
    top: 150px;
    background: #7386D5;
    color: #fff;
}

#content{
    display: flex;
    width: 75%;
    float: right;
}

ul {
    list-style-type: none;
    width: 100%;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

#content{
    flex-direction: column;
}