{% extends 'base_menu.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>{{profile.user.email}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <img src="{% static 'images/unknown_user.png' %}"
             alt="A pic"
             class="rounded-circle"
             width="100"
             height="100">
    </div>
    <div class="col-xs-10">
        {% if profile.facebook_url %}
        <a href="profile.facebook_url">Facebook</a> |
        {% endif %}
        {% if profile.twitter_url %}
        <a href="profile.twitter_url">Twitter</a> |
        {% endif %}
        {% if profile.instagram_url %}
        <a href="profile.instagram_url">Instagram</a> |
        {% endif %}
        </div>
        <div>
            <p>{{profile.bio| safe}}</p>
        </div>
    </div>

{% endblock %}